@font-face {
  font-family: 'FiraMono';
  src:  url('/static/fonts/FiraMono-Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'blocky';
  src:  url('/static/fonts/04b03.TTF') format('truetype');
}

body{
	background: #1c252d;	
	margin: 0;
	padding: 0;
	overflow-x: hidden;
}

h1 {
	font-size: 50px;
	font-family: FiraMono;
	color: #FFF;
}

p {
	font-size: 20px;
	font-family: FiraMono;
	color: #FFF;
}

.maindiv {
	width: 100%;
	border: 2px solid #fff;
}

.section-1{
	height: 80vh;
	
	font-family: blocky;

	background-image: url("/static/images/citygif.gif");
	background-position: center;
	background-attachment: fixed;
	background-size: cover;
}

/* .section-1 hr { */
/* 	width:100%; */
/* 	border-width: 4px; */
/* 	color: white; */
/* 	background-color: white; */
/* 	margin-top: 80vh; */
/* 	position:absolute; */

/* } */

.profileimg {
	position: absolute;
	height: 300px;
	top: calc(80vh - 440px);
	left: 20vh;
	filter: drop-shadow(3px 3px 0 black) drop-shadow(-1px -1px 0 black);
}

.profilename {
	color: #FFF;
	font-size: 10rem;
	
	position: inline;
	margin-top 0;
	top: 45vh;
	left: 70vw;

	text-shadow: 4px 7px #000, 0px -1px #000, 0px 1px #000, -1px 0px #000, 1px 0px #000, -1px -1px #000, 1px 1px #000, -1px 1px #000, 1px -1px #000;
}

.section-2{
	height: 75vh;
	background: #1c252d;
}

.intro-text {
	width: 50%;
	float: left;
	display: inline-block;
	text-align: center;
	overflow: hidden;
}

.link {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index:100
}

.contents-box {
	font-size: 2em;
	background-color: #a8a8a8;
	color: white;

	width: 9em;
	height: 2em;
	line-height: 2;
	text-align: center;

	font-family: Helvetica, Arial, sans-serif;
	font-weight: bold;

	cursor: pointer;
	/* position: relative; */
	display: inline-block;
	margin: 20px;
}

.intro-pic {
	width: 50%;
	display: inline-block;
}

.intro-pic3 {
	width:23rem;
	display: inline-block;
	position: relative;
	display: block;
	/* left: 0%; */
	/* text-align: left; */
	margin: auto;
	margin-top: 40px;
	/* margin-left: auto; */
	/* margin-right: auto; */
	border: 6px double black;
}

.marquee {
	height: 50px;
	top: 0;
	width: 99.7%;
	overflow: hidden;
	position: fixed;
	background: #1c252d;
	color: #333;
	border: 3px solid #fff;
	z-index: 100
}

.marquee img{
	position: absolute;
	top: 1px;
	left: 1px;
}

.marquee p {
	font-family:"blocky";
	font-size: 35px;

	position: absolute;
	width: 100%;
	height: 100%;
	margin-top: 3px;
	line-height: 50px;
	text-align: center;
	-moz-transform: translateX(100%);
	-webkit-transform: translateX(100%);
	transform: translateX(100%);
	-moz-animation: scroll-left 2s linear infinite;
	-webkit-animation: scroll-left 2s linear infinite;
	animation: scroll-left 20s linear infinite;
}

body::before {
  /* :  ^   ) */
  content: "";
  display: block;
  position: fixed;
  left: 0;
  top: 0;
  width: calc(100% + 32px);
  height: calc(100% + 32px);
  background-image: url("../images/scan.png");
  background-position: 0 0;
  background-repeat: repeat;
  z-index: 10000000;
  animation: ScanlineAnimationLeft 2s linear infinite;
  pointer-events: none;
  opacity: 0.75;
}

body::after {
  /* :  ^   ) */
  content: "";
  display: block;
  position: fixed;
  left: -32px;
  top: 0;
  width: calc(100% + 32px);
  height: calc(100% + 32px);
  background-image: url("../images/scan.png");
  background-position: 0 0;
  background-repeat: repeat;
  z-index: 10000000;
  animation: ScanlineAnimationRight 0.4s linear infinite;
  pointer-events: none;
  opacity: 0.75;
}

@keyframes ScanlineAnimationLeft {
  /* :  ^   ) */
  0% {
    transform: translateX(0px) translateY(0px);
  }
  100% {
    transform: translateX(-32px) translateY(-32px);
  }
}

@keyframes ScanlineAnimationRight {
  /* :  ^   ) */
  0% {
    transform: translateX(0px) translateY(0px);
  }
  100% {
    transform: translateX(32px) translateY(-32px);
  }
}


@-moz-keyframes scroll-left {
	0% {
		-moz-transform: translateX(100%);
	}
	100% {
		-moz-transform: translateX(-100%);
	}
}

@-webkit-keyframes scroll-left {
	0% {
		-webkit-transform: translateX(100%);
	}
	100% {
		-webkit-transform: translateX(-100%);
	}
}

@keyframes scroll-left {
	0% {
		-moz-transform: translateX(100%);
		-webkit-transform: translateX(100%);
		transform: translateX(100%);
	}
	100% {
		-moz-transform: translateX(-100%);
		-webkit-transform: translateX(-100%);
		transform: translateX(-100%);
	}
}
